<div class="main-div">
  <h1>Edit <%= @announcement.title %></h1>
  <%= form_for @announcement, remote: true do |f| %>

    <fieldset class="form-group">
      <%= f.label :title, class: 'form-control-label' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Announcement Title' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :post, class: 'form-control-label' %>
      <%= f.text_area :post, cols: 20, rows: 10, class: 'form-control', placeholder: 'Post Body' %>
    </fieldset>

    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>
