<div class='main-div'>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Dashboard</h1>
    </div>
  </div>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Events', admin_events_path, class: 'nav-link' %>
    </li>
  </ul>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card text-xs-center">
        <div class="card-header">
          Total User Count
        </div>
        <div class="card-block">
          <h1 class="card-title display-1"><%= User.count %></h1>
        </div>
      </div>
      <div class="card text-xs-center">
        <div class="card-header">
          Paid vs. Not-Paid Members
        </div>
        <div class="card-block">
          <h2 class="card-title"><%= pie_chart({"Paid Users": User.where("rank > ?", 0).count, "Not Paid Users": User.where(rank: 0).count}) %></h2>
        </div>
      </div>
      <div class="card text-xs-center">
        <div class="card-header">
          Verified vs. Unverified Members
        </div>
        <div class="card-block">
          <h2 class="card-title"><%= pie_chart({"Verfied Users": User.where(verified: true).count, "Unverified Users": User.where(verified: false).count}) %></h2>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-xs-center">
        <div class="card-header">
          Event Count
        </div>
        <div class="card-block">
          <h1 class="card-title display-3">Active: <%= Event.where(finished: false).count %><br>
          <small>Finished: <%= Event.where(finished: true).count %></small></h1>
        </div>
      </div>
      <div class="card text-xs-center">
        <div class="card-header">
          Total Participants in Events
        </div>
        <div class="card-block">
          <h1 class="card-title display-1"><%= Participant.count %></h1>
        </div>
      </div>
    </div>
    <h2>Top 10 most active users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Rank</th>
          <th>Number of times participanted in events</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Participant.joins(:user).group(:user).order('count_all DESC').limit(10).count.each do |user| %>
          <tr>
            <td class='user_id'><%= user[0].id %></td>
            <td class='user_name'><%= user[0].name %></td>
            <td class='user_number'><%= rank_title user[0].rank %></td>
            <td class='user_count'><%= user[1] %></td>
            <td class='user_view'><%= link_to 'View', user_path(user[0].id), class: 'btn btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
