<tr>
  <td class='event_name'><%= participant.event.name %></td>
  <td class='event_desc'><%= participant.event.location %></td>
  <td class='event_time'><%= format_time participant.event.start_time %> EST</td>
  <td class='event_time'><%= format_time participant.event.end_time %> EST</td>
  <td class='event_view'><%= link_to 'View', event_path(participant.event.id), class: 'btn btn-primary' %></td>
</tr>
