<!DOCTYPE html>
<html>
<head>
  <title>Lakewood Leaders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-dark bg-faded nav-margin-bottom" style="background-color: #0a442e;">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">&#9776;</button>
    <div class="collapse navbar-toggleable-xs main-div" id="collapsingNavbar">
      <a class="navbar-brand hidden-sm-down" href="/">Lakewood Leaders</a>
      <ul class="nav navbar-nav">
        <div class='hidden-sm-up'>
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fa fa-home" aria-hidden="true"></i> Front Page
          <% end %>
        </div>
        <li class="nav-item">
          <%= link_to announcements_path, class: 'nav-link' do %>
            <i class="fa fa-bullhorn" aria-hidden="true"></i> Announcements
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to events_path, class: 'nav-link' do %>
            <i class="fa fa-calendar" aria-hidden="true"></i> Events
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: 'nav-link' do %>
            <i class="fa fa-users" aria-hidden="true"></i> Members
          <% end %>
        </li>
        <div class="float-xs-right">
          <% if logged_in && current_user.admin? then %>
            <%= link_to admin_dashboard_path, class: 'btn btn-outline-secondary hidden-xs-down' do %>
              <i class='fa fa-tachometer' aria-hidden='true'></i> Site Dashboard
            <% end %>
          <% end %>
          <div class='btn-group hidden-xs-down'>
            <a class="dropdown-toggle nav-link" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= (logged_in && User.find(session[:user_id]).name) || "<i class=\"fa fa-sign-in\" aria-hidden=\"true\"></i>
 Log In".html_safe %>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-width" aria-labelledby="userDropdown">
              <% if logged_in then %>
                <%= render 'layouts/loggedin' %>
              <% else %>
                <%= render 'layouts/loggedout' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class='hidden-sm-up float-sm-right'>
          <% if logged_in then %>
            <div class='dropdown-divider'></div>
            <%= link_to user_path(session[:user_id]), class: 'nav-item nav-link' do %>
              <i class='fa fa-user' aria-hidden='true'></i> My Profile
            <% end %>
            <%= link_to edit_user_path(session[:user_id]), class: 'nav-item nav-link' do %>
              <i class='fa fa-cog' aria-hidden='true'></i> Account Settings
            <% end %>
            <li class='nav-item'>
              <%= link_to url_for({action: :destroy, controller: :sessions}), method: 'delete', remote: true, class: 'nav-link', name: 'navbar_logout' do %>
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out
              <% end %>
            </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to log_in_path, class: 'nav-link', id: 'navbar_login' do %>
                <i class="fa fa-sign-in"></i> Log In
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to register_path, class: 'nav-link' do %>
                <i class="fa fa-pencil-square-o"></i> Register
              <% end %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
